//Colores del modo claro modificados para el Navbar
$body-tertiary-bg: #068dac;
$navbar-light-color: #FFF;
$navbar-light-brand-color: #FFF;
$navbar-light-disabled-color: #052a30;
$navbar-light-hover-color: #0a2327;

//Colores del modal modificados

$modal-content-bg: #ffffff;
$modal-backdrop-bg: #000000;

//form de registro
$input-border-width: 1px;
$input-border-radius: 1px;

footer
{
  color: white;
}

.datoContacto
{
  font-size: 14px
}

*
{
  font-family: "Arial";
  font-size: 15px;
}

@import '../node_modules/bootstrap/scss/bootstrap.scss';
